body{
    font-size: 1.3rem;
    font-family: 'Varela Round', sans-serif;
    background-color: #d5d5d5;
  
}
.navbar-nav button{
    margin-left: 0.8rem;
    margin-top: 0.3rem;
    width: auto;
    height: 39px;
    color: rgb(80, 80, 148);
    font-weight: 600;
    text-transform: uppercase;
} 

#y{
    color: olivedrab;
    font-size: 1.5rem;
}
 /* #navbarresponsive .hope::after, .test::after , .publications::after, .donate::after , .reach::after {
    content: '|';
    padding: 0  0.5em;	
 }  */
 /* body */
.ban{
    height: 30rem;
    width: 100%;
}
.win >img{
    height: 20rem;
    width: 100%;
}
.Do{
    text-align: center;
    width: 75%;
    margin: 0 auto;
}
.ship{
    text-align: center;
    width: 75%;
    margin: 0 auto;
}

.Testimonials{
    text-align: center;
    width: 75%;
    margin: 0 auto;
    background-color: #d5d5d5;
}
.g{
    background-color: #d5d5d5;
}
.goal{
    text-align: center;
    width: 75%;
    margin: 0 auto;
}
.Donate{
    text-align: center;
    width: 75%;
    margin: 0 auto;
    /* background-color: rgb(206, 214, 223); */

}

.Aid{
    text-align: center;
    width: 75%;
    margin: 0 auto; 
}
.About{
    text-align: center;
    /* background-color: rgb(206, 214, 223); */
}
.goal ul{
    list-style-type: none;
    text-align: center;
}
.contact{
    background-color: rgb(104, 102, 102);
    color: whitesmoke;

}
.contact h3{
    color: whitesmoke;
}

.social a{
    font-size: 4.5rem;
    padding: 3rem;
}
.fa-facebook{
    color: #3b5998;
}
.fa-envelope{
    color: #dd4b39;
}
.fa-facebook:hover , .fa-envelope:hover {
color: #d5d5d5;
}
.carousel-inner img{
    width: 80%;
    height: 40%;
}
.padding{
    padding: 0.5rem;
    margin: 2rem;
}


/* Quotes */
.marks{
    font-size: 2rem;
}
.goalimage{
    width: 100%;
    height:100% ;
}

.bd{
    border: 1px solid #536d7c;
    background-color: rgb(41, 128, 41);
    margin-bottom: 10px;
}

h1,h3{
    color: rgb(78, 78, 177);
    font-weight: 800;
}


footer{
    margin-top: 0rem;
    margin-bottom: 0;
    color: #d5d5d5;
    background-color: #3f3f3f;
    padding-top: 2rem;
}

@media (max-width: 576px){
    body{
        font-size: 0.8rem;
    }

    #navbarresponsive .hope::after, .test::after , .publications::after, .donate::after , .reach::after {
        content: '|';
        padding: 0  0.5em;
        display: none;	
     }

     #y{
         font-size: 1rem;
     }
    .social a {
        font-size: 2em;
        padding: 1.5rem;
    }
    .navbar-nav button{
        height: 40%;
    }
    
    .ban{
        height: 15rem;
        width: 100%;
    }
    .win >img{
        height: 10rem;
        width: 100%;
        margin-top: 0.7rem;
    }
    .Donate{
        padding-top: 0.5rem ;
    }
}


@media (max-width: 776px){
    .ban{
        height: 20rem;
        width: 100%;
    }
    #y{
        font-size: 1.2rem;
    }
    .social a {
        font-size: 2.5em;
        padding: 2rem;
    }
    body{
        font-size: 1rem;
        background-color: white;
    }
    .win >img{
        height: 13rem;
        width: 100%;
        margin-top: 0.7rem;
    }
    
}
@media (max-width: 1100px){
    #navbarresponsive .hope::after, .test::after , .publications::after, .donate::after , .reach::after {
        content: '|';
        padding: 0  0.5em;
        display: none;	
     }
     .navbar-nav button{
        height: 75%;
    }
    .navbar-nav{
        font-size: 60%;
    }
}